.chat-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.user-list {
  width: 25%;
  border-right: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.chat-wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #ffffff;
  height: calc(100% - 60px);
  box-sizing: border-box;
}

.message {
  margin-bottom: 10px;
}

.time {
  font-size: 0.8em;
  color: #999;
  margin-right: 10px;
}

.message-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

mat-form-field {
  width: 100%;
}

.full-width {
  flex-grow: 1;
  margin-right: 10px;
}

textarea {
  resize: none;
  width: 100%;
}

.profile-panel,
.online-users {
  width: 25%;
  padding: 10px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.profile-panel {
  border-right: 1px solid #ccc;
}

mat-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

mat-list-item mat-icon {
  margin-right: 10px;
}

.profile-info {
  margin-bottom: 20px;
}

.profile-info img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.profile-info h3 {
  margin: 10px 0;
}

.profile-info p {
  margin: 0;
}
